# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

ANTHROPIC_API_KEY=''
ENABLE_ANTHROPIC_API='True'

CHATGPT_API_KEY=''
ENABLE_CHATGPT_API='True'

GEMINI_CHAT_API_KEY=''
ENABLE_GEMINI_CHAT_API='True'

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false


# Microsoft SSO
MICROSOFT_CLIENT_ID=''
MICROSOFT_CLIENT_SECRET=''
MICROSOFT_CLIENT_TENANT_ID=''
MICROSOFT_REDIRECT_URI=''
ENABLE_OAUTH_SIGNUP=true


DEFAULT_USER_ROLE='user'


ENABLE_SIGNUP='True'

